<template>
    
  <section >
    <breadcumb text1="株式会社イーディアスホーム" text2="個人情報保護方針"/>
    <div class="wrapper">
      <mainvisual thumbnail="/img/privacy/page_ttl.png" width="355" height="72" alt="個人情報保護方針 PRIVACY POLICY" />
      <div id="conts" class="contsSet">
        <privacy text5="1.法令等の遵守"  text6="株式会社イーディアス（以下、当社）は、お客様の個人情報を取り扱うにあたり、個人情報の保護に関する法令、ガイドラインを遵守いたします。"/>
        <privacy text5="2.個人情報の収集"  text6="当社は、必要な範囲で個人情報を収集することがあります。収集する個人情報の範囲は、利用目的を達成するために必要な限度を超えないものとします。"/>
        <privacy text5="3.個人情報の管理・保護"  text6="当社では、お客様の個人情報への不正アクセス、紛失、破損、改ざんおよび漏洩等を防止するため、安全な環境下にて厳重に管理いたします。"/>
        <privacy text5="4.個人情報の利用"  text6="個人情報をご提供いただく場合は、その利用目的を明確にし、お知らせします。"/>
      </div>
    </div>
  </section>
</template>
<script>
  import Breadcumb  from '~/components/Breadcumb.vue';
  import Mainvisual from '~/components/Mainvisual.vue';
  import Privacy from '~/components/Privacy.vue';
  export default {
      components: {
        Breadcumb,
        Mainvisual,
        Privacy
      }
  }
</script>