<template>
    <ol id="pagePath">
		<li class="root"><a href="/">{{text1}}</a>&gt;</li>
		<li>{{text2}}</li>
	</ol>
</template>
<script>
    export default {
        props: {
            text1 : {
                type: String,
                required : true,
            },
            text2 : {
                type: String,
                required : true,
            }
        }
    }
</script>