<template>
    <section class="faq">
        <h2 class="ttl"><span class="icon">Q.</span>{{text3}}</h2>
        <div class="txt">
            <span class="icon">A.</span>{{text4}}</div>
    </section>
</template>
<script>
        export default {
            props: {
                text3 : {
                    type: String,
                    required : true,
                },
                text4 : {
                    type: String,
                    required : true,
                }
            },
            mounted: function() {
                $('.faq .ttl').click(function(){
                    $(this).toggleClass('is-open');
                    $(this).next('.txt').stop().slideToggle();
                });
                $('.faq .is-open').next('.txt').show();
	  	    }
             
        }
    </script>