<template>
    <footer id="footer">
        <div id="pageTop" style="display: block;"><a href="#header"><img src="/img/btn_pagetop.png" width="80" height="80" alt="PAGE TOP"></a></div>

        <div class="top">
            <section class="contact">
                <h3 class="ttl">イーディアスのサービスについてのお問い合わせ・資料請求はこちら</h3>
                <div class="tel">
                    <dl>
                        <dt><img src="/img/tel_txt.png" width="23" height="11" alt="TEL"></dt>
                        <dd><img src="/img/tel_num.png" width="250" height="30" alt=""></dd>
                    </dl>
                    <p class="data">［受付時間］平日10:00～18:00（土日祝日は除く）</p>
                </div>
                <div class="mail"><a href="/contact_top/" class="btn"><span class="icon">フォームからのお問い合わせ</span></a></div>
            </section>
        </div>

        <div class="bottom">
            <ul class="subNavi">
                <li><a href="/">ホーム</a></li>
                <li><a href="/about/">イーディアスについて</a></li>
                <li><a href="/solution/">ソリューションのご紹介</a></li>
                <!-- <li><a href="/case/">ご利用事例</a></li> -->
                <li><a href="/ranking/">採用サイトランキング</a></li>
                <li><a href="/contact_top/">資料請求・お問い合わせ</a></li>
            </ul>

            <ul class="subNavi">
                <li><a href="/company/">会社概要</a></li>
                <li><a href="/faq/">FAQ</a></li>
                <li><a href="/privacy/">個人情報保護方針</a></li>
                <li><a href="/sitemap/">サイトマップ</a></li>
            </ul>

            <p class="copyright"><small>Copyright © ii-deais All Rights Reserved.</small></p>
	    </div>
    </footer>
</template>
