<template>
    <section>
        <h2 class="ttl">{{text5}}</h2>
        <p>{{text6}}</p>
	</section>
</template>
<script>
    export default {
        props: {
            text5 : {
                type: String,
                required : true,
            },
            text6 : {
                type: String,
                required : true,
            }
        }
            
    }
</script>