/*------------------------------------------------------------
	faq
------------------------------------------------------------*/
#conts .faq {
    margin-top: 20px;
    overflow: hidden; 
}
#conts .faq:first-child {
    margin-top: 0; 
}
#conts .faq .ttl, #conts .faq .txt {
    padding: 27px 45px 23px 55px;
    position: relative;
    border: 1px solid #d6d6d6; 
}
#conts .faq .ttl .icon, #conts .faq .txt .icon {
    position: absolute;
    top: 27px;
    left: 30px; 
}
#conts .faq .ttl {
    background-color: #FFF;
    color: #004795;
    font-weight: normal;
    cursor: pointer;
    line-height: 1.5;
}
#conts .faq .ttl:after {
    margin-top: -7px;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(/img/icon_open.png);
    -ms-background-size: 15px 15px;
    background-size: 15px 15px;
    position: absolute;
    top: 50%;
    right: 30px;
    content: ""; 
}
#conts .faq .ttl.open:after {
    background-image: url(/img/icon_close.png); 
}
#conts .faq .txt {
    background-color: #F6F6F6;
    border-top: none;
    display: none;
}