<template>
    
  <section >
    <breadcumb text1="株式会社イーディアスホーム" text2="サービスに関するFAQ"/>
    <div class="wrapper">
      <mainvisual thumbnail="/img/faq/page_ttl.png" width="355" height="72" alt="イーディアスについて ABOUT" />
      <div id="conts" class="contsSet">
          <faq text3="コンサルティングサービスの費用には、採用ツールの制作費も含まれているのでしょうか？" text4="はい、含まれております。
          大まかなスケジュールと施策内容を協議した上でご契約となりますが、その際、各種採用ツールの制作費も含めてご提案いたします。"></faq>
        </div>
     
    </div>
  </section>
</template>
<script>
  import Breadcumb  from '~/components/Breadcumb.vue';
  import Mainvisual from '~/components/Mainvisual.vue';
  import Faq        from '~/components/Faq.vue';
  export default {
      components: {
        Breadcumb,
        Mainvisual,
        Faq
      }
  }
</script>