<template>
  <div>
    <header-page/>
    <nuxt/>
    <page-link/>
    <footer-page/>
  </div>
</template>
<script>
  import HeaderPage from '~/components/HeaderPage.vue';
  import FooterPage from '~/components/FooterPage.vue';
  import PageLink   from '~/components/PageLink.vue';
  
  export default {
    components: {
      HeaderPage,
      FooterPage,
      PageLink
    }
}
</script>

<style>
  @import '../assets/css/common.css';
  @import '../assets/css/about.css';
  @import '../assets/css/faq.css';
  @import '../assets/css/privacy.css';
</style>

