<template>
  <section >
  </section>
</template>
<script>
  import Breadcumb from '~/components/Breadcumb.vue';
  import Mainvisual from '~/components/Mainvisual.vue';
  export default {
      components: {
        Breadcumb,
        Mainvisual
      }
  }
</script>
